s<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<script src="js/mui.js"></script>
		<script src="js/checkequ.js"></script>
		<script src="js/fun.js"></script>
		<script src="js/template.js"></script>
		<script type="text/javascript">
			mui.init()
			var user;
			var team;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				team = self.team;
				user = self.user;
			});
		</script>
		<!-- <iframe src="myEquipmentVis.html" width="100%" height="600" scrolling="auto" frameborder="no" style="margin-top: 45px;"></iframe>
		<iframe src="myEquipmentVis1.html" width="100%" height="600" scrolling="auto" frameborder="no" style="margin-top: -200px;"></iframe> --> -->
		<script type="text/html" id="temp_check2">
			<h1 style="margin-left: 10px; margin-top: 40px;font-size: 16px;">所在球队约球信息</h1>
			<ul class="mui-table-view">
			<% if(list.length==0) {%>
				<li class="mui-table-view-cell">您当前暂无所属球队约球!</li>
			<% } %>
			
			<% for(var i = 0;i < list.length;i++){ %>
				<div class="mui-table-view">
					<li class="mui-table-view-cell"><%=list[i].teamName%></li>
						
						<button style="position: absolute;top:6px;right:32%;height:28px;line-height: 15px;" onclick="more_arrange(<%= list[i].enId%>,request_url)">更多</button>
						<% if(list[i].isShowing == 0){%>
						<button style="position: absolute;top:6px;right:3%;height:28px;line-height: 15px;" onclick="yes_arrange(<%= list[i].enId%>,request_url,0)">发布到布告板</button>
						<% }else{ %>
						<button style="position: absolute;top:6px;right:3%;height:28px;line-height: 15px;" onclick="yes_arrange(<%= list[i].enId%>,request_url,0)">从布告板取消</button>
						<% } %>
				</div>
			<% } %>	
			
			</ul>
		</script>
	</head>

	<body onload="check_equ(request_url)">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">报名信息</h1>
		</header>
		<div id="c_euq"></div>
		<script type="text/javascript">
			var request_url = localStorage.getItem('request_url');
		</script>
		

		
	</body>

</html>
