<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<script src="js/mui.js"></script>
		<script src="js/template.js"></script>
		<script src="js/fun.js"></script>
		<script src="js/myfield.js"></script>
		<script type="text/javascript">
			mui.init();
			var request_url = localStorage.getItem('request_url');
		</script>
		<script type="text/html" id="follow_texts">
			<h>负责的场地</h>
			<ul class="mui-table-view">
				<% if(list.length==0) {%>
					<li class="mui-table-view-cell">您当前暂无负责的场地!</li>
				<% } %>
			<% for(var i = 0;i < list.length;i++){ %>	
					<div class="mui-table-view">
						<li class="mui-table-view-cell"><%= list[i].fieldName%></li>
							<% if(list[i].fieldState=='0') {%>
								<span class="mui-badge mui-badge-success"  style="position: absolute;top:11px;left:35%;"><%= "空闲"%></span>
							<% } %>
							<% if(list[i].fieldState=='1') {%>
								<span class="mui-badge mui-badge-warning"  style="position: absolute;top:11px;left:35%;"><%= "已租用"%></span>
							<% } %>
							<% if(list[i].fieldState=='2') {%>
								<span class="mui-badge mui-badge-danger"  style="position: absolute;top:11px;left:35%;"><%= "维护"%></span>
							<% } %>
							
							<button style="position: absolute;top:6px;right:28%;height:28px;line-height: 15px;" onclick="more(<%= list[i].fieldId%>,request_url)">更多</button>
							<select id="record-<%=i%>" class="mui-btn" style="position: absolute;top:1px;right: 3%;height:33px;line-height: 15px;width: 80px;" onchange="add_record(request_url,<%= list[i].devId%>,<%=i%>)">
								<option value="item-1">状态更新</option>
								<option value="item-2">添加空闲</option>
								<option value="item-3">添加租用</option>
								<option value="item-4">添加维护</option>
							</select>
					</div>		
				<% } %>
			</ul>
				</script>
	</head>

	<body onload="myfield(request_url)">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的场地</h1>
		</header>
		<div class="mui-content" style="margin-top:20px;"></div>
		<div id="follow_tb"></div>
		<nav class="mui-bar mui-bar-tab" style="touch-action: none;" onclick = "follow_m(request_rul)">
			<a class="mui-tab-item" href="#tabbar-with-search">
				<span class="mui-icon mui-icon-loop"></span>
				<span class="mui-tab-label">刷新</span>
			</a>
		</nav>
		<script type="text/javascript">
					mui.init()
					var request_url = localStorage.getItem('request_url');
				</script>
	</body>

</html>
