<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<script src="js/mui.js"></script>
		<script src="js/template.js"></script>
		<script src="js/fun.js"></script>
		<script src="js/myplayer.js"></script>
		<script type="text/javascript">
			mui.init({
				beforeback: function() {
				　　　　 //获得父页面的webview
				        var list = plus.webview.currentWebview().opener();
				　　　　 //触发父页面的自定义事件(refresh),从而进行刷新
				        mui.fire(list, 'refresh');
				        //返回true,继续页面关闭逻辑
				        return true;
				    }
			});
			localStorage.setItem('request_url', 'http://81.70.31.152:8001/api/'); //前半部分固定URL
		</script>
		<script type="text/html" id="temp_stable">
			<h>我的球员</h>
			<ul class="mui-table-view">
				<% if(list.length==0) {%>
					<li class="mui-table-view-cell">您当前暂无球员!</li>
				<% } %>
			<% for(var i = 0;i < list.length;i++){ %>		
					<div class="mui-table-view">
						<li class="mui-table-view-cell"><%= list[i].playerId%></li>
							<% if(list[i].isCaptain==1) {%>
								<span class="mui-badge mui-badge-success"  style="position: absolute;top:11px;left:35%;"><%="队长"%></span>
							<% } %>
							<% if(list[i].isCaptain!=1) {%>
								<span class="mui-badge mui-badge-danger"  style="position: absolute;top:11px;left:35%;"><%="队员"%></span>
							<% } %>
							<button style="position: absolute;top:6px;right:5%;height:28px;line-height: 15px;" onclick="more(<%=list[i].playerId%>,request_url)">更多</button>
							<!-- <select id="record-<%=i%>" class="mui-btn" style="position: absolute;top:1px;right: 3%;height:33px;line-height: 15px;width: 80px;" onchange="add_record(request_url,<%= list[i].devId%>,<%=i%>)">
								<option value="item-1">添加记录</option>
								<option value="item-2">添加修理记录</option>
								<option value="item-3">添加故障记录</option>
								<option value="item-4">添加报废记录</option>
							</select> -->
					</div>		
				<% } %>
			</ul>
				</script>
		<script type="text/html" id="temp_zu">
				</script>
	</head>

	<body onload="search_teamallplayer(request_url)">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的球员</h1>
		</header>
		<div class="mui-content" style="margin-top:20px;"></div>
		<div id="fuze"></div>
		<div id="zujie"></div>
		<script type="text/javascript">
			mui.init()
			var request_url = localStorage.getItem('request_url');
		</script>
	</body>

</html>
